.shuffle-list{
    overflow: auto;
    max-height: 500px;
    font-size: 20px;
    display: block;
};

.list-group-item {
    color: black !important;
    background-color: white !important;
}
.list-group-item:hover {
    color: #fff !important;
    background-color: #4e8bfd !important;
}

.delete-button {
    align-items: right;
}